     @media screen and (max-width:1400px) {
         .navigation {
             flex-direction: column;
             margin-bottom: 20px;
             padding: 0px;
         }
         .nav-left {
             flex-direction: column;
             text-align: center;
         }
         .nav-left ul {
             margin: 20px 0px;
         }
         .content-right {
             display: none;
         }
         .home-article-img {
             text-align: center;
         }
         .home-article {
             flex-direction: column;
         }
         .year-box {
             top: 0px;
             display: none;
             align-items: center;
             font-size: 13px;
         }
         .home-article img {
             width: 60vw;
         }
         .home-article-content {
             text-align: center;
             width: 60vw;
         }
         .form-input {
             /* display: block; */
             font-size: 1rem;
         }
         .btn {
             font-size: 1rem;
             margin-top: 12px;
             margin-left: 82px;
         }
         .form-box input,
         textarea {
             width: 66vw;
         }
         .row {
             flex-direction: column;
             /* padding: 0px 10px; */
         }
         .form-box .btn {
             margin-left: 76px;
         }
         .post-img {
             height: auto;
         }
         .mb-img {
             margin-left: -49px;
         }
         .mb-text {
             margin-right: -89px;
         }
     }